html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
}
  
ul {
    list-style-type: none; 
}

a {
    text-decoration: none;
    color: #333333; 
}

.header {
    width: 100%;
    height:auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: radial-gradient( circle farthest-corner at 33.5% 32.3%,  rgba(114,25,43,1) 0%, rgba(62,10,28,1) 90% );
}

.header__nav.nav {
    width: 100%;
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
}

.nav__logo {
    font-size: 1.875rem;
    line-height: 2.125rem;
    color: #fff;
    font-weight: 700;   
}

.nav__logo:hover, .nav__link:hover {
    color: #1592c4;
}

.nav__list {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width:45%;
}

.nav__sublist {
    position: absolute;
    padding: 0;
    width: 6.3rem;
    display: none;
}

.nav__sublist--open {
    display: block;
}

.nav__sublist-item {
    position: relative;
    width: 100%;
    text-align: center;
}

.nav__link {
    color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 700;
}

.nav__language-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.nav__icon {
    background-color: transparent;
    border: none;
    display: none;
    cursor: pointer;
}

.nav__icon .icon{
    width: 1.5625rem;
    height: 0.1875rem;
    background-color: #ffffff;
    margin: 0.3125rem;
    transition: all 0.3s ease;
}

.toggle .icon--line1 {
    transform: rotate(45deg) translate(5px,6px);
}

.toggle .icon--line2 {
    opacity: 0;
}

.toggle .icon--line3 {
    transform: rotate(-45deg) translate(5px,-6px);
}


.nav-active {
    transform: translateY(0%);
}

.lock-scroll {
    overflow: hidden;
}

@media screen and (max-width: 1039px) {
    .nav__list {
        width: 60%;
    }
}

@media screen and (max-width: 830px) {
    .nav__list {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .header__nav {
        background-color:   rgba(62,10,18, 0.92) !important;
        height: 3.75rem !important;
}
  
    .nav__list {
        position: absolute;
        right: 0;
        height: calc(100vh - 60px);
        background-color:   rgba(62,10,18, 0.92);
        top: 3.75rem;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        width: 100%;
        transform: translateY(-120%);
        transition: transform 0.5s ease-in;
    }
    
    .nav__item  {
        opacity:0;
        padding-top: 3%;
    }
       
    .nav__icon {
        display: block;
    }
    
    .nav__sublist {
        width:100%;

    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

